<section>
    <div class="container container_forms">
        <div class="row">
            <div class="col-12">
                <div class="shadow">
                    <div class="titleTables py-4 px-5  d-flex justify-content-between">
                        <div class="search_in_table d-flex align-items-center">
                            <span  class="col-1"><img src="assets/images/scale.png" width="100%" alt=""></span>
                            <span class="col-1"></span>
                            <input type="search" name="chercher" id="chercher" class="form-control col-10 py-2" placeholder="Chercher">
                        </div>
                        <div class="bouton_ajout">
                            <button routerLink="/form" class="btn btn-danger pr-4 py-2">
                                <span class="icon-ajouter"></span>
                                Ajouter
                            </button>
                        </div>
                    </div>
                    <table id="tableList" class="bg-light w-100" cellpadding="10">
                        <thead>
                            <tr class="">
                                <td class="checkbox text-center">
                                    <input type="checkbox" name="selectAll" class="mr-2" id="selectAll">
                                    <label for="selectAll"></label>
                                </td>
                                <td class="c-pointer">{{ "Nom" | uppercase }} <span id="tri"></span> </td>
                                <td>{{ "Naissance" | uppercase }}</td>
                                <td>{{ "Civilité" | uppercase }}</td>
                                <td  class="c-pointer">{{ "état" | uppercase }}<span id="tri"></span></td>
                                <td class="actions">
                                    
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td class="checkbox text-center">
                                    <input type="checkbox" name="selectAll" class="mr-2" id="selectAll">
                                    <label for="selectAll"></label>
                                </td>
                                <td>Nom<br><small>Fonction</small></td>
                                <td>13/03/2000</td>
                                <td>Célibataire</td>
                                <td><span class="cart_disponibilty">Disponible</span></td>
                                <td class="actions ">
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/edit.png" width="20" alt="">
                                    </a>
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/delete.png" width="20" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="checkbox text-center">
                                    <input type="checkbox" name="selectAll" class="mr-2" id="selectAll">
                                    <label for="selectAll"></label>
                                </td>
                                <td>Nom<br><small>Fonction</small></td>
                                <td>13/03/2000</td>
                                <td>Célibataire</td>
                                <td><span class="cart_disponibilty">Disponible</span></td>
                                <td class="actions ">
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/edit.png" width="20" alt="">
                                    </a>
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/delete.png" width="20" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="checkbox text-center">
                                    <input type="checkbox" name="selectAll" class="mr-2" id="selectAll">
                                    <label for="selectAll"></label>
                                </td>
                                <td>Nom<br><small>Fonction</small></td>
                                <td>13/03/2000</td>
                                <td>Célibataire</td>
                                <td><span class="cart_indisponibilty">Indisponible</span></td>
                                <td class="actions ">
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/edit.png" width="20" alt="">
                                    </a>
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/delete.png" width="20" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="checkbox text-center">
                                    <input type="checkbox" name="selectAll" class="mr-2" id="selectAll">
                                    <label for="selectAll"></label>
                                </td>
                                <td>Nom<br><small>Fonction</small></td>
                                <td>13/03/2000</td>
                                <td>Célibataire</td>
                                <td><span class="cart_indisponibilty">Indisponible</span></td>
                                <td class="actions ">
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/edit.png" width="20" alt="">
                                    </a>
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/delete.png" width="20" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="checkbox text-center">
                                    <input type="checkbox" name="selectAll" class="mr-2" id="selectAll">
                                    <label for="selectAll"></label>
                                </td>
                                <td>Nom<br><small>Fonction</small></td>
                                <td>13/03/2000</td>
                                <td>Célibataire</td>
                                <td><span class="cart_disponibilty">Disponible</span></td>
                                <td class="actions ">
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/edit.png" width="20" alt="">
                                    </a>
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/delete.png" width="20" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="checkbox text-center">
                                    <input type="checkbox" name="selectAll" class="mr-2" id="selectAll">
                                    <label for="selectAll"></label>
                                </td>
                                <td>Nom<br><small>Fonction</small></td>
                                <td>13/03/2000</td>
                                <td>Célibataire</td>
                                <td><span class="cart_disponibilty">Disponible</span></td>
                                <td class="actions ">
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/edit.png" width="20" alt="">
                                    </a>
                                    <a class="mx-2" routerLink="/">
                                        <img src="assets/images/delete.png" width="20" alt="">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="">Total : 6</td>
                                <td></td>
                                <td></td>
                                <td><select name="civilite" class="rounded p-1 " id="civilite">
                                    <option value="tous">Tous</option>
                                    <option value="celibataire">Célibataire</option>
                                    <option value="marie">Marié</option>
                                </select></td>
                                <td><select name="civilite" class="rounded p-1 " id="civilite">
                                    <option value="tous">Tous</option>
                                    <option value="celibataire">Disponible</option>
                                    <option value="marie">Indisponible</option>
                                </select></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>