.titleTables, #tableList thead, tbody tr:nth-child(even) {
    background-color: #F4F7FC;
}
section {
    height:100vh;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
}
 #tableList thead {
    color: #606F89;
}


.cart_disponibilty {
    background-color: #219653;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
}

.cart_indisponibilty {
    color: #E24429;
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid #E24429;
}
.container_forms select {
    border: 2px solid #c4c4c4;
}
#chercher {
    background-color: #DAE1EC;
    font-size: 12px;
    padding-left: 45px;
    background-image: url("/assets/images/search.png");
    background-size: 4%;
    background-repeat: no-repeat;
    background-position:4%;
}
.c-pointer {
    cursor: pointer;
}

#tri::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: sub;
    background-image: url("/assets/images/tri.png");
    background-size: contain;
    background-position: center;
    margin-left: 10px;
}

#chercher::placeholder {
    font-size: 12px;
    opacity: 1;
    font-weight: 400;
}
.bouton_ajout button {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px 10px 25px !important;
}
.bouton_ajout button .icon-ajouter::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background-image: url("/assets/images/ajouter.png");
    background-size: contain;
}#tableList tr .actions {
  width: 225px;
  text-align: center;
}
#tableList tr td:nth-child(5) {
  width: 250px;
  text-align: center;
}
#tableList small {
  opacity: 0.5;
}