
body {
    font-family:  'Montserrat', sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.bg-red {
    background-color: #E24429;
}


.container_forms input[type="checkbox"].switch_1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5vh;
    height: 2vh;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    top: 0.4vh;
  }
  
  .container_forms  input[type="checkbox"].switch_1:checked {
    background: #E24429;
  }
  
  .container_forms  input[type="checkbox"].switch_1:after {
    position: absolute;
    content: "";
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .container_forms  input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 2vh);
  }
  
  .container_forms input[type="checkbox"].switch_1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5vh;
    height: 2vh;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    top: 0.4vh;
  }
  
  .container_forms input[type="checkbox"].switch_1:checked {
    background: #E24429;
  }
  
  .container_forms input[type="checkbox"].switch_1:after {
    position: absolute;
    content: "";
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .container_forms input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 2vh);
  }
  
input[type="checkbox"]:not(.switch_1) {
    position: absolute;
    opacity: 0;
  }
  
  input[type="checkbox"]:not(.switch_1) + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  
  input[type="checkbox"]:not(.switch_1) + label:before {
    content: '';
    margin-right: 2vh;
    display: inline-block;
    vertical-align: text-top;
    width: 2vh;
    height: 2vh;
    background: white;
    border: 2px solid #E24429;
  }
  
  input[type="checkbox"]:not(.switch_1):hover + label:before {
    background: #E24429;
  }
  
  input[type="checkbox"]:not(.switch_1):focus + label:before {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  
  input[type="checkbox"]:not(.switch_1):checked + label:before {
    background: #E24429;
  }
  
  input[type="checkbox"]:not(.switch_1):disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  
  input[type="checkbox"]:not(.switch_1):disabled + label:before {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #ddd;
  }
  
  input[type="checkbox"]:not(.switch_1):checked + label:after {
    content: '';
    position: absolute;
    left: 0.5vh;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    -webkit-box-shadow: 2px 0 0 white,
   4px 0 0 white,
   4px -2px 0 white,
   4px -4px 0 white,
   4px -6px 0 white,
   4px -8px 0 white;
            box-shadow: 2px 0 0 white,
   4px 0 0 white,
   4px -2px 0 white,
   4px -4px 0 white,
   4px -6px 0 white,
   4px -8px 0 white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }