<section>
    <div class="container container_forms">
        <div class="row">
            <div class="col-12">
                <div class="form-enregistrer py-4 px-5 bg-light shadow">
                    <form id="enregistrer_form">
                        <label for="images" class="d-block">Profile</label>
                        <div class="form-group file-area">
                            <label for="images" id="up_file"></label>
                        <input type="file" name="images" id="images" required="required" multiple="multiple"/>
                        <div class="file-dummy">
                          <div class="success"></div>
                          <div class="default"></div>
                        </div>
                      </div>
                        <fieldset>
                            <label for="nom" class="d-block">Nom</label>
                            <input placeholder="Nom" type="text" class="form-control shadow" name="nom" id="nom">
                        </fieldset>
                        <fieldset>
                            <label for="fonction" class="d-block">Fonction</label>
                            <input placeholder="Fonction" type="text" class="form-control shadow" name="fonction" id="fonction">
                        </fieldset>
                        <fieldset>
                            <label for="naissance" class="d-block">Naissance</label>
                            <input  type="date" class="form-control shadow" name="naissance" id="naissance" placeholder="JJ/MM/AAAA">
                        </fieldset>
                        <fieldset>
                            <label for="email" class="d-block">Email</label>
                            <input placeholder="Adresse e-mail" type="email" class="form-control shadow" name="email" id="email">
                        </fieldset>
                        <div class="d-flex justify-content-between disponiblity">
                            <label for="disponibility" class="mb-0">Disponible</label>
                            <input type="checkbox" class="switch_1" name="disponibility" id="disponibility" checked>
                        </div>
                        <div class="d-block civilite my-4">
                            <label for="civilite" class="d-block">Civilité</label>
                            <select name="civilite" class="rounded p-1 w-100" id="civilite">
                                <option value="celibataire">Célibataire</option>
                                <option value="marie">Marié</option>
                            </select>
                        </div>
                        <div class="d-block conditionGeneral mb-2">
                            <input type="checkbox" name="terms" class="mr-2" id="terms">
                            <label for="terms">Accepter les termes et conditions</label>
                        </div>
                        <div class="d-block submitForm">
                            <input type="submit" class="w-100 text-center bg-red text-light border-0 py-2 px-5" value="Enregistrer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>