section {
    height:100vh;
    background-color: #e5e5e5;
}

.container_forms {
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container_forms label {
    margin-bottom: 0.25rem;
    color: #c4c4c4;
}

.container_forms fieldset {
    margin: 1rem 0;
}
.container_forms input[type="text"], .container_forms input[type="email"], .container_forms input[type="date"] {
    width: 100%;
    font-size: 12px;
    padding: 10px;
}

.container_forms .submitForm input {
    border-radius: 50px;
}

.container_forms input:focus {
    border-color: #E24429 !important;
}
.container_forms .conditionGeneral input {
    margin-right: 1rem;
}
.container_forms select {
    border: 2px solid #c4c4c4;
}

.container_forms input::placeholder {
    font-size: 12px;
}


.file-area {
    width: 100%;
    position: relative;
  }
  
  .file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-area .file-dummy {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 0.2);
    text-align: center;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  
  .file-area .file-dummy .success {
    display: none;
  }
  
  .file-area:hover .file-dummy {
    background: rgba(255, 255, 255, 0.1);
  }
  
  /* .file-area input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  .file-area input[type=file]:valid + .file-dummy {
    border-color: rgba(0, 255, 0, 0.4);
    background-color: rgba(0, 255, 0, 0.3);
  } */
  
  .file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
  }
  
  .file-area input[type=file]:valid + .file-dummy .default {
    display: none;
  }

  #up_file {
    width: 70px;
    height: 70px;
    display: block;
    border: 2px dashed #dad6d6;
    border-radius: 15px;
    background-image: url("/assets/images/backimg.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .form-group.file-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.file-dummy > div {
    font-size: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: inline-block;
    color: white;
}

.file-dummy > div.default {
    background-color: #E24429;
    background-image: url("/assets/images/up.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.file-dummy > div.success {
    background-color: green;
    background-image: url("/assets/images/ok.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.file-dummy {
    flex: 0 0 20%;
}
  /*# sourceMappingURL=styles.css.map */